@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #FF2E63, #2522BA, #00DDEB);

}

.Calculator {
    border: none;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white for contrast */
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7); /* Stronger shadow */
}

input{
    width: 270px;
    border:2px solid #000000;
    border-radius: 20px;
    padding: 25px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;

}

input::placeholder{
    color: #ffffff;

}

button{
    border:none;
    width: 50px;
    height:50px;
    margin:10px;
    border-radius: 50%;
    background: black;
    color: #fdfdfd;
    font-size: 20px;
    box-shadow: 0px 5px 15px rgba(255, 214, 10, 0.6), 0px 10px 20px rgba(247, 37, 133, 0.4), 0px 15px 25px rgba(67, 97, 238, 0.3);
    cursor: pointer;
}

.equalbtn{
    background-color: #0aec28;
}
.op{
    color: rgb(0, 0, 0);
    background-color: #918f8f
}
.action{
    color: #000000;
    background-color:#fae20c
   
}