@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #FF2E63, #2522BA, #00DDEB);
}

.calculator {
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}

#inputBox {
    display: block;
    width: 270px;
    padding: 25px;
    margin: 10px auto;
    border: 2px solid #000;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    color: #fff;
}

#inputBox::placeholder {
    color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    background: #000;
    color: #fdfdfd;
    font-size: 20px;
    box-shadow: 0 5px 15px rgba(255, 214, 10, 0.6),
                0 10px 20px rgba(247, 37, 133, 0.4),
                0 15px 25px rgba(67, 97, 238, 0.3);
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.equalbtn {
    background: #0aec28;
}

.op {
    background: #918f8f;
    color: #000;
}

.action {
    background: #fae20c;
    color: #000;
}